
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

#salary-calculated, #percent-calculated, .salary-initial, .input__label-content, .input__label {
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: .9em;
  line-height: 1.45;
  box-sizing: border-box;
  position: relative;
  letter-spacing: -1px;
  font-weight: 300;
}



input {
      padding: 0;
  margin: 0;
  box-sizing: inherit;
  font: 300 32px "Work Sans", "Helvetica", sans-serif;
  border: 1px solid lightgrey;
  /*outline: none;*/
  color: #ff6738;
  background-color: white;
  border-radius: 0px;
  -webkit-appearance: none;
    
    padding: 0;
  padding: 4px 10px 4px 40px; /* was 10 10 10 45*/
  width: 180px;

  margin: 0;
  margin-left: 0px;
  margin-bottom:10px 
}

input:focus{
  border: 1px solid black;
    outline: none;
}

.input__label {
  display: inline-block;
  position:  absolute;
  top: -4px; /*was -5px*/
  left: 0;
  padding: 0 0 0 20px;
  font-size: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ee5757;
  font-family: "Work Sans", "Helvetica", sans-serif;
}


#salary-calculated, #percent-calculated {
  border-bottom: solid 10px #000000;
  font-size: 30px;
}


/*nothing below here should be copied to wordpress*/

.wage-gap{
  font-size: 25px;
  letter-spacing:  -1px;
 }


.outputs {
  font-size: 27px;
}

em {
  font-style: normal;
  background: #ee5757;
  color: white;
  padding: 0 10px;
}




/* This is the really cool tooltip for links (or could be modified for general tooltip)*/
a {
  position: relative;
  border-bottom: solid 2px #343434;
  color: #ee5757;
  text-decoration: none;
}

a:before {
  position: absolute;
  top: -22px;
  left: 0;
  width: 400px;
  padding: 10px;
  background: #fff;
  vertical-align: bottom;
  background-size: auto 40%;
  border-bottom: solid 4px #ee5757;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #404d5b;
  content: attr(href);
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.2;
  opacity: 0;
  -webkit-transition: opacity 0.15s, color 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  transition: opacity 0.15s, color 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  transition: opacity 0.15s, color 0.15s, transform 0.15s, background-position 0.05s;
  transition: opacity 0.15s, color 0.15s, transform 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  pointer-events: auto;
}

a:hover:before,
a:focus:before {
  background-position: 1em 50%;
  opacity: 1;
  -webkit-transform: scale(1) translateY(-75%);
          transform: scale(1) translateY(-75%);
}
