html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: .9em;
  line-height: 1.45;
}

.calculator {
  height: 100vh;
  padding-left: 9%;
  border-left: solid 40px #eee;
  display: inline-block;
}

/* I want to make a neat (but not too flashy) gradient animation that will fill the corresponding percentage of the `calculator` element's bg on calculation. This code has hacky gradient animation keyframes, ending on a Sass map of ethnicity-to-percentage keys.

@TODO:
JS: Add proper ethnicity class based on user's ethnicity choice to `calculator` element when salary result is calculated.
CSS: Smooth the animation out somehow? I can't do the overshooting the background size and animate the position without some crazy mathing, because I'm dealing with specific percentages instead of just a pretty gradient. Rewrite the markup so the Map appears first as we need to reference the class name as $ethnicity.

.gradient-fill {
	background-color: white;
	animation: gradient-fill .1s ease-in forwards;
}

@keyframes gradient-fill {
  0% {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 10%,
        white 10%
    );
  }
  50% {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 28%,
        white 28%
    );
  }

  $ethnicity: (
    latina: 54%,
    black: 63%,
    pacificislander: 62%,
    ndn: 59%,
    asian: 90%,
  );

  @each $ethnicity, $percentage in $ethnicity {
    100% {
      background-image: linear-gradient(
        to bottom,
        #f7f7f7 $percentage,
        white $percentage
      )
    }
  }
}
*/

.giant-letters, .wage-gap, h1 {
  font-size: 40px;
  line-height:  2; /* was 2 */
  letter-spacing: -1px;
  font-weight: 300;
}

.wage-gap {
  position: relative;
  top: 50%;
  font-size: 25px;
  line-height: 1.25; /* was 2 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wage-gap::first-line {
  line-height: 1;
}

.outputs {
  font-size: 27px;
}

input, select {
  font: 300 32px "Work Sans", "Helvetica", sans-serif;
  border: 1px solid lightgrey;
  /*outline: none;*/
  color: #ff6738;
  background-color: white;
  border-radius: 0px;
}

.salary-initial {
  position: relative;
}

.years-initial {
  position: relative;
  width: 120px;
  padding: 4px 10px 4px 30px;
}


input {
  -webkit-appearance: none;
  padding: 4px 10px 4px 40px; /* was 10 10 10 45*/
  width: 180px;
  margin-left: 0px;
  margin-bottom:10px      
}

input:focus, select:focus{
  border: 1px solid black;
    outline: none;
}

.input__label {
  display: inline-block;
  position:  absolute;
  top: -1px; /*was -5px*/
  left: 0;
  padding: 0 0 0 20px;
  font-size: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ee5757;
  font-family: "Work Sans", "Helvetica", sans-serif;
}

select {
  padding: 6px 20px 6px 10px;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAMCAYAAACX8hZLAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjU0NTcyRDhBN0M0NjExRTVBNDczQTk5MjhEMzBCOTk5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjU0NTcyRDhCN0M0NjExRTVBNDczQTk5MjhEMzBCOTk5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NTQ1NzJEODg3QzQ2MTFFNUE0NzNBOTkyOEQzMEI5OTkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NTQ1NzJEODk3QzQ2MTFFNUE0NzNBOTkyOEQzMEI5OTkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz65iLfGAAAA3klEQVR42pyTOwrCQBCGN5Y2amLwWXkmr2MtaiEiIoJFipT23kDEN4LPQ3iF9R+S4LDmsZsfvmJ3Z+ZrdiwpZVEI4YGOCLIGPZE/DvCBG549AQnRBm/5yzC8N8UGJzZnCQq8oAVerGBgKKiAI+tfAIve1MImeOYQkeDA+uaRIE5CNMDDQFRWBDMuSJIQdXDXEJXAntVNVUGahKiBW4qIBDv2PokTZEkIF1xjRCTYsvtxkkBHEokuysANO4+yZuh+zyo4y/9o/T6TPXCURevr9gbLoh8bdMEHrHSbvgIMAMLxNoWnbjKVAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 645px;
  margin-bottom: -10px;
}

select option {
  font-weight: 200;
}


#salary-calculated {
  border-bottom: solid 10px #000000;
  font-size: 30px;
}

.data {
  background: #222;
  color: white;
  padding: 100px 40px;
}

@media (min-width: 900px) { /*was 1285*/
  .calculator, .data {
    display: inline-block;
  }

  .calculator {
    float: left;
    width: 60%;
    padding-left: 3%;
  }

  .data {
    float: right;
    width: 40%;
    padding: 20px 40px;
  }
}
.data p, .data h1, .data table {
  width: 80%;
}

table {
  background-color: white;
  color: #333;
  margin: 0 auto 10px auto;
  border-collapse: collapse;
  /*
  tr td:not(:first-child) {
    text-align: center;
  }*/
}
table td {
  padding: 10px;
  border-right: solid 2px rgba(0, 0, 0, 0.05);
  vertical-align: top;
}
table td:last-child {
  border-right: 0;
}
table thead tr {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #ee5757;
  color: white;
}
table tbody tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}

h1 {
  line-height: 1.3;
  margin: 50px auto;
}

em {
  font-style: normal;
  background: #ee5757;
  color: white;
  padding: 0 10px;
}

p {
  display: block;
  margin: 10px auto;
}

a {
  position: relative;
  border-bottom: solid 2px #343434;
  color: #ee5757;
  text-decoration: none;
}

a:before {
  position: absolute;
  top: -22px;
  left: 0;
  width: 400px;
  padding: 10px;
  background: #fff;
  vertical-align: bottom;
  background-size: auto 40%;
  border-bottom: solid 4px #ee5757;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #404d5b;
  content: attr(href);
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.2;
  opacity: 0;
  -webkit-transition: opacity 0.15s, color 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  transition: opacity 0.15s, color 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  transition: opacity 0.15s, color 0.15s, transform 0.15s, background-position 0.05s;
  transition: opacity 0.15s, color 0.15s, transform 0.15s, background-position 0.05s, -webkit-transform 0.15s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  pointer-events: auto;
}

a:hover:before,
a:focus:before {
  background-position: 1em 50%;
  opacity: 1;
  -webkit-transform: scale(1) translateY(-75%);
          transform: scale(1) translateY(-75%);
}
